# https://help.github.com/en/articles/about-code-owners

* @hmcts/private-law @hmcts/developer-enablement

# Ignore files updated by Renovate
gradle/wrapper/gradle-wrapper.properties
build.gradle
charts/**/Chart.yaml
Dockerfile